.condiciones-recibo {
    .condiciones-recibo-title {
        font-size: 1.6rem;
        color: #ffffff;
    }

    .condiciones-recibo-content {
        display: flex;
        flex-direction: column;
    }

    .pure-table {
        border: none;

        thead {
            background-color: #212121;
            color: #e4e5e7;

            th {
                border-left: none;
                white-space: nowrap;
            }
        }

        tbody {
            td {
                border-left: none;
                text-transform: capitalize;
                background: #21212157;
            }

            tr:nth-child(2n-1) td {
                background-color: #424242;
            }

            .no-capitalize {
                text-transform: none;
            }
        }

        // .pure-table-striped tr:nth-child(2n-1) td {
        //     background-color: #424242;
        // }
    }
}
