<div class="condiciones-recibo">

    <div class="condiciones-recibo-content">

        <div class="condiciones-recibo-title">
            <p>Condiciones de Recibo</p>
        </div>

        <table style="width: 100%" class="pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Puerto</th>
                    <th>Girasol</th>
                    <th>Soja</th>
                    <th>Trigo</th>
                    <th>Maiz</th>
                    <th>Sorgo</th>
                    <th>Otros</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let condi of condicionesRecibo | async">
                    <td>
                        {{ condi.puerto }}
                    </td>
                    <td>
                        {{ condi.girasol }}
                    </td>
                    <td>
                        {{ condi.soja }}
                    </td>
                    <td>
                        {{ condi.trigo }}
                    </td>
                    <td>
                        {{ condi.maiz }}
                    </td>
                    <td>
                        {{ condi.sorgo }}
                    </td>
                    <td>
                        {{ condi.otros }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
