<div class="accion-dialog">

    <div class="accion-dialog-table">

        <table mat-table [dataSource]="cartasSeleccionadas">

            <ng-container matColumnDef="nroCP">
                <th mat-header-cell *matHeaderCellDef> Nro.CP </th>
                <td mat-cell *matCellDef="let element"> {{element.PorteNro}} </td>
            </ng-container>

            <ng-container matColumnDef="situacion">
                <th mat-header-cell *matHeaderCellDef> Situacion </th>
                <td mat-cell *matCellDef="let element"> {{element.estadoPosiReal | lowercase}} </td>
            </ng-container>

            <ng-container matColumnDef="turno">
                <th mat-header-cell *matHeaderCellDef> Turno </th>
                <td mat-cell *matCellDef="let element"> {{element.porteTurno }} </td>
            </ng-container>

            <ng-container matColumnDef="titular">
                <th mat-header-cell *matHeaderCellDef> Titular </th>
                <td mat-cell *matCellDef="let element"> {{element.titular.denominacion | lowercase}} </td>
            </ng-container>

            <ng-container matColumnDef="corredor">
                <th mat-header-cell *matHeaderCellDef> Corredor </th>
                <td mat-cell *matCellDef="let element"> {{element.corredor.denominacion | lowercase}} </td>
            </ng-container>

            <ng-container matColumnDef="especie">
                <th mat-header-cell *matHeaderCellDef> Especie </th>
                <td mat-cell *matCellDef="let element"> {{element.cereal | lowercase}} </td>
            </ng-container>

            <ng-container matColumnDef="destino">
                <th mat-header-cell *matHeaderCellDef> Destino </th>
                <td mat-cell *matCellDef="let element"> {{element.puertoDestino.ptoRazon | lowercase}} </td>
            </ng-container>

            <ng-container matColumnDef="procedencia">
                <th mat-header-cell *matHeaderCellDef> Procedencia </th>
                <td mat-cell *matCellDef="let element"> {{element.procedencia.denominacion | lowercase}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div class="accion-dialog-content">
        <div class="column-accion">
            <div class="item item-dropdown">
                <span class="titulo-item">Nueva Situacion: </span>
                <mat-form-field class="filtro-item">
                    <mat-select [(ngModel)]="datosAccion.tipoAccion" placeholder="Situacion">
                        <mat-option  *ngFor="let situ of listasDesplegables.situaciones" [value]="situ">
                            {{ situ.descripcion }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="item item-dropdown">
                <span class="titulo-item">Nuevo Destino: </span>
                <mat-form-field class="filtro-item">
                    <mat-select [disabled]="datosAccion.tipoAccion.tipo !== 2 || destinoEnComentarios" [(ngModel)]="datosAccion.puertoNuevo" placeholder="Destino">


                        <mat-option *ngFor="let destin of listasDesplegables.destinos | async" [value]="destin">
                            {{ destin.ptoRazon }}
                        </mat-option>

                    </mat-select>
                </mat-form-field>

                <mat-checkbox [disabled]="datosAccion.tipoAccion.tipo !== 2" [(ngModel)]="destinoEnComentarios" [checked]="destinoEnComentarios">Destino en comentarios</mat-checkbox>
            </div>

            <div class="item item-largeinput">
                <span class="titulo-item">Comentarios: </span>
                <mat-form-field>
                    <textarea [(ngModel)]="datosAccion.comentario" matInput placeholder=""></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="accion-dialog-footer">
        <div class="btn-container">
            <button [disabled]="
                !datosAccion.tipoAccion.tipo ||
                (
                    datosAccion.tipoAccion.tipo === 2 &&
                    datosAccion.puertoNuevo &&
                    !datosAccion.puertoNuevo.ptoCodinterno &&
                    (
                        !datosAccion.comentario ||
                        datosAccion.comentario.length <=0
                    )
                )
            " (click)="onClickAceptar()" mat-raised-button color="secondary">
                <!-- <i class="fas fa-check"></i> -->
                <span *ngIf="!spinner">Confirmar</span>
                <i *ngIf="spinner" style="font-size: 1.1rem;color: #d6d6d4; padding: 0;" class="fas fa-circle-notch fa-spin"></i>
            </button>
            <button (click)="onNoClick()" mat-raised-button color="secondary">
                <!-- <i class="fas fa-check"></i> -->
                <span>Cancelar</span>
            </button>
        </div>
    </div>

</div>
