.accion-dialog {
    //color:rgba(255, 255, 255, 0.7);
    font-family: Roboto,"Helvetica Neue",sans-serif;

    .accion-dialog-header {
        .titulo {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }

    .accion-dialog-content {
        //margin: 2%;
        // display: grid;
        // grid-template-columns: 50% 50%;

        .column-accion {
            //padding: 0 10%;
            padding: 1.9%;
            display: flex;
            justify-content: space-between;
            .item {
                //padding: 3%;
                display: inline-block;
                padding: 1%;
                .titulo-item {
                    display: block;
                }
            }

            .item-dropdown {
                margin-top: 2.4%;

                display: flex;
                flex-direction: column;
            }

            .item-largeinput {
                margin-right: 4.1%;
            }
        }

    }

    .accion-dialog-footer {
        margin: 0 5%;
        .btn-container {
            display: flex;
            justify-content: flex-end;

            button {
                margin: 1%;
                min-width: 106px;
                i {
                    padding: 12% 14% 10% 0%;
                }
                span {
                    padding-top: 1%;
                    // position: relative;
                    // top: 2px;
                    display: inline-block;
                }
            }
        }
    }


    .accion-dialog-table {
        max-height: 192px;
        overflow: auto;
    }

    table {
        td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
            text-transform: capitalize;
            padding: 0 15px;
        }
    }
}
