.detalle-carta {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin: 0.3rem 6rem 0rem;

    .detalle-carta-body {

        .detalle-row {
            display: flex;
            // border: 1px solid rgba(255,255,255,.7);
            color: #e4e5e7;
            .detalle-element {
                display: flex;
                width: 50%;
                justify-content: space-between;
                padding: 0.4% 1%;
                // border-left: 1px solid #333333;
                // border-right: 1px solid #333333;
                .detalle-element-nombre {

                }
                .detalle-element-descrip {

                }
            }
        }

        .detalle-row:nth-child(odd) {
            background: #424242;
        }
        .detalle-row:nth-child(even) {
            background: #707070;
        }

        .title-row {
            // border: 2px solid rgba(255,255,255,.7);
            display: flex;
            color: #e4e5e7;
            padding: 0.9% 0.9% 0.8%;
            background: #333333 !important;
            justify-content: space-between;

            .left-container {
                display: flex;
            }

            .btn-back {
                cursor: pointer;
                padding: 5px;
                padding-right: 15px;
            }

            .titulo, .btn-download {
                padding: 5px 7px 0px;
            }

            .pdf-container {
                display: flex;
                font-size: 0.88rem;
                margin-top: 3px;

                > p{
                    margin: 0;
                    padding: 5px;
                }

                .btn-download {
                    cursor: pointer;
                    padding-left: 8px;
                }
            }

        }

    }

    .spinner-container {
        display: flex;
        justify-content: center;
        height: 100vh;
        mat-spinner {
            margin-top: 17%
        }
    }
}

// Estilos para pdf generado
.detalle-pdf {
    position: absolute;
    top: -16384px;
    width: 1000px;

    .detalle-carta-body {
        margin: 25px 35px;
        .title-row, .detalle-row, .detalle-element {
            background: #fff !important;
            color: #000 !important;
        }

        .title-row, .detalle-element {
            border: solid 1px #000 !important;
        }

        .btn-back, .pdf-container {
            display: none !important;
        }
    }
}

