<div class="detalle-carta" id="detalle-carta-pdf">
    <div *ngIf="carta" class="detalle-carta-body">

        <div class="title-row">
            <div class="left-container">
                <div class="btn-back" (click)="location.back()">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="titulo">
                    DETALLE CARTA DE PORTE
                </div>
            </div>
            <div class="pdf-container">
                <p>Descargar PDF:</p>
                <div
                    (click)="(isDownloading = !isDownloading) && onDownloadPdf(1.3)"
                    class="btn-download">
                    <i *ngIf="!isDownloading" class="fas fa-file-pdf"></i>
                    <i *ngIf="isDownloading" class="fas fa-circle-notch fa-spin"></i>
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Entregador
                </div>
                <div class="detalle-element-descrip">
                    {{carta.entre}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Carta de Porte
                </div>
                <div class="detalle-element-descrip">
                    {{carta.Porte_nro}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    C.E.E
                </div>
                <div class="detalle-element-descrip">
                    {{carta.P_adic_p_nro_cac}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    C.T.G
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_ctg}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Fecha Carga
                </div>
                <div class="detalle-element-descrip">
                    {{ utilsService.capitalizeFirstLetter(momento(carta.porte_fecha_cp).calendar()) }}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Fecha Vencimiento
                </div>
                <div class="detalle-element-descrip">
                    {{ utilsService.capitalizeFirstLetter(momento(carta.P_adic_fecha_venc).calendar()) }}
                </div>
            </div>
        </div>

        <div class="title-row">
            1-DATOS DE INTERVINIENTES EN EL TRANSLADO DE GRANOS
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Titular
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_titular}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Cuit
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_cuit_remitente}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Intermediario
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_interm}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Cuit
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_cuit_cyo}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Remitente Comercial
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_remi}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Cuit
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_cuit_cyo2}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Corredor
                </div>
                <div class="detalle-element-descrip">
                    {{carta.corre}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Cuit
                </div>
                <div class="detalle-element-descrip">
                    {{carta.Porte_cuit_corredor}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Representante/Entregador
                </div>
                <div class="detalle-element-descrip">
                    {{carta.entre_cp ? carta.entre_cp : carta.entre}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Cuit
                </div>
                <div class="detalle-element-descrip">
                    {{carta.Porte_cuit_entregador}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Destinatario
                </div>
                <div class="detalle-element-descrip">
                    {{carta.destin}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Cuit
                </div>
                <div class="detalle-element-descrip">
                    {{carta.Porte_cuit_destinatario}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Destino
                </div>
                <div class="detalle-element-descrip">
                    {{carta.Pto_Razon}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Cuit
                </div>
                <div class="detalle-element-descrip">
                    {{carta.Pto_Cuit}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Transportista
                </div>
                <div class="detalle-element-descrip">
                    {{carta.Porte_transp_razon}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Cuit
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_cuit_transp}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Chofer
                </div>
                <div class="detalle-element-descrip">
                    {{carta.P_adic_razon_chofer}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Cuit
                </div>
                <div class="detalle-element-descrip">
                    {{carta.P_adic_cuit_chofer}}
                </div>
            </div>
        </div>

        <div class="title-row">
            2-DATOS DE LOS GRANOS/ESPECIES TRANSPORTADAS
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Grano/Especie
                </div>
                <div class="detalle-element-descrip">
                    {{carta.cereal}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Tipo
                </div>
                <div class="detalle-element-descrip">

                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Cosecha
                </div>
                <div class="detalle-element-descrip">
                    {{carta.Cosecha}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Contrato Nro
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_contrato}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Peso Bruto-kg
                </div>
                <div class="detalle-element-descrip">
                    {{carta.P_adic_bruto_proc}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Peso Tara-kg
                </div>
                <div class="detalle-element-descrip">
                    {{carta.P_adic_tara_proc}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Peso Neto-kg
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_kgs_procede}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Calidad
                </div>
                <div class="detalle-element-descrip">
                    {{carta.cld_nomenclatura}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                PROCEDENCIA DE LA MERCADERIA
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Establecimiento
                </div>
                <div class="detalle-element-descrip">
                    <!-- {{carta.Porte_calidad}} -->
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Localidad
                </div>
                <div class="detalle-element-descrip">
                    {{carta.proce}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Provincia
                </div>
                <div class="detalle-element-descrip">
                    <!-- {{carta.Porte_calidad}} -->
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Direccion
                </div>
                <div class="detalle-element-descrip">
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    &nbsp;&nbsp;
                </div>
                <div class="detalle-element-descrip">
                    &nbsp;&nbsp;
                </div>
            </div>
        </div>

        <div class="title-row">
            3-LUGAR DE DESTINO DE LOS GRANOS
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Planta
                </div>
                <div class="detalle-element-descrip">
                    {{carta.pto_planta}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    &nbsp;&nbsp;
                </div>
                <div class="detalle-element-descrip">
                    &nbsp;&nbsp;
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Localidad
                </div>
                <div class="detalle-element-descrip">
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Provincia
                </div>
                <div class="detalle-element-descrip">
                    <!-- {{carta.Porte_calidad}} -->
                </div>
            </div>
        </div>

        <div class="title-row">
            4-DATOS DEL TRANSPORTE
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Camion
                </div>
                <div class="detalle-element-descrip">
                    {{carta.Porte_patente_camion}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Acoplado
                </div>
                <div class="detalle-element-descrip">
                    {{carta.P_adic_patente_acopl}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Tarifa referencia
                </div>
                <div class="detalle-element-descrip">
                    <!-- {{carta.Porte_patente_camion}} -->
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Km a recorrer
                </div>
                <div class="detalle-element-descrip">
                    <!-- {{carta.P_adic_patente_acopl}} -->
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Tarifa
                </div>
                <div class="detalle-element-descrip">
                    {{carta.Tarifa_x_tonelada}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Cod. Cancelacion CTG
                </div>
                <div class="detalle-element-descrip">
                    <!-- {{carta.P_adic_patente_acopl}} -->
                </div>
            </div>
        </div>

        <div class="title-row">
            5-DATOS A COMPLETAR EN EL LUGAR DE DESTINO Y DESCARGA
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Fecha Arribo
                </div>
                <div class="detalle-element-descrip">
                    {{ utilsService.capitalizeFirstLetter(momento(carta.porte_fecha_arr).calendar()) }}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Hora
                </div>
                <div class="detalle-element-descrip">
                    {{carta.Porte_hora_arr}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Peso Bruto-k
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_bruto}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Observaciones
                </div>
                <div class="detalle-element-descrip">
                    {{getAnalisisAll(carta.analisis)}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Fecha Descarga
                </div>
                <div class="detalle-element-descrip">
                    <!-- {{utilsService.capitalizeFirstLetter(momento(carta.porte_fecha_des).calendar())}} -->
                    {{ carta.porte_estado === constants.porteEstado.DESCARGADO ?
                        utilsService.capitalizeFirstLetter(momento(carta.porte_fecha_des).calendar()) :
                        0
                    }}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Hora
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_hora_sal}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Peso Tara-kg
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_kgs_tara}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Turno Nro
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_turno}}
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Peso Neto-kg
                </div>
                <div class="detalle-element-descrip">
                    {{carta.porte_kgs_neto}}
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    <!-- Hora -->
                </div>
                <div class="detalle-element-descrip">
                    <!-- {{carta.Porte_hora_arr}} -->
                </div>
            </div>
        </div>

        <div class="title-row">
            6-CAMBIO DEL DOMICILIO DE DESCARGA/DESVIO
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    &nbsp;&nbsp;
                </div>
                <div class="detalle-element-descrip">
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    &nbsp;&nbsp;
                </div>
                <div class="detalle-element-descrip">
                    &nbsp;&nbsp;
                </div>
            </div>
        </div>
        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    &nbsp;&nbsp;
                </div>
                <div class="detalle-element-descrip">
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    &nbsp;&nbsp;
                </div>
                <div class="detalle-element-descrip">
                    &nbsp;&nbsp;
                </div>
            </div>
        </div>

        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    &nbsp;&nbsp;
                </div>
                <div class="detalle-element-descrip">
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Observ.Pto
                </div>
                <div class="detalle-element-descrip">
                    {{carta.obs_estado}}
                </div>
            </div>
        </div>
        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    &nbsp;&nbsp;
                </div>
                <div class="detalle-element-descrip">
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Rubro
                </div>
                <div class="detalle-element-descrip">
                    {{carta.rbr_abrev}}
                </div>
            </div>
        </div>
        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    &nbsp;&nbsp;
                </div>
                <div class="detalle-element-descrip">
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Porcentaje
                </div>
                <div class="detalle-element-descrip">
                    {{carta.anl_porc_analisis}}
                </div>
            </div>
        </div>
        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    &nbsp;&nbsp;
                </div>
                <div class="detalle-element-descrip">
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Merma kgs
                </div>
                <div class="detalle-element-descrip">
                    {{carta.anl_kilos_merma}}
                </div>
            </div>
        </div>
        <div class="detalle-row">
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    &nbsp;&nbsp;
                </div>
                <div class="detalle-element-descrip">
                    &nbsp;&nbsp;
                </div>
            </div>
            <div class="detalle-element">
                <div class="detalle-element-nombre">
                    Merma %
                </div>
                <div class="detalle-element-descrip">
                    {{carta.anl_porc_merma}}
                </div>
            </div>
        </div>

    <!-- Fin body  -->
    </div>




    <div class="spinner-container" *ngIf="!carta">
        <mat-spinner></mat-spinner>
    </div>
</div>
