// $descargado: rgb(0, 255, 67, 0.10);
// $autorizado: rgba(255, 166, 0, 0.10);
// $posicion: rgba(47, 0, 255, 0.10);
// $demorado: rgba(251, 255, 0, 0.10);

.filtros-select {
    display: flex;
    justify-content: center;
    // margin-bottom: 1.5%;
    margin-bottom: -0.3%;

    .filtros-select-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;


        .filtros-dropdowns {
            display: flex;
            justify-content: center;
            mat-form-field {
                padding: 0 2%;
            }

            .filtrar {
                margin: 1% 2%;
                min-width: 100px;
                max-height: 40px;
                padding-right: 2.2%;
                font-size: 0.95rem;
                i {
                    padding: 12% 14% 12% 0%;
                }
                span {
                    padding-top: 0%;
                    padding-bottom: 5%;
                    position: relative;
                    top: 2px;
                    display: inline-block;
                }
            }

            .filtro-item {
                font-family: Roboto,"Helvetica Neue",sans-serif;
                color: #e4e5e7;
                width: 180px;
                padding: 0 2%;

                .filtro-title {
                    color: rgba(255,255,255,.7);
                    font-size: 0.75rem;
                }
            }
            .filtros-checkbox {
                display: flex;
                flex-direction: column;
                .checkbox-container{
                    display: flex;

                    padding-top: 3.8%;
                    mat-checkbox {
                        margin: 0 6% 0 0;
                    }
                }

            }

            .info-filtros {
                .total-container {
                    color: rgba(255,255,255,.7);
                    margin-top: 13%;
                    text-align: end;
                }
            }
        }

        // .others-filters {
        //     display: flex;
        //     justify-content: space-between;
        //     .filtros-checkbox {
        //         display: flex;
        //         margin: 1% 2%;
        //         mat-checkbox {
        //             margin: 0 6% 0 0;
        //         }
        //     }
        //     button {
        //         margin: 0% 1.8%;
        //     }


        //     .total-container {
        //         font-family: Roboto,"Helvetica Neue",sans-serif;
        //         color: #e4e5e7;
        //         margin: 1% 2%;
        //     }

        // }

    }


}

.table-footer{
    display: flex;
    justify-content: center;
    .busqueda-container {
        // margin: 0 2%;
        width: 190px;
        padding: 0 15px;
    }
    .acciones-container {
        display: flex;
        margin: 0.1% 0%;
        padding-top: 16px;
        // margin: 0 17px;
        width: 379px;
        padding: 0 15px;
        // justify-content: center;
        justify-content: flex-end;
        .accion {
            margin: 1%;
            min-width: 106px;
            max-height: 40px;
            margin-top: 11px;
            i {
                padding: 12% 14% 12% 0%;
            }
            span {
                padding-top: 1%;
                // position: relative;
                // top: 2px;
                display: inline-block;
            }

            .excel-spinner {
                display: flex;
                justify-content: center;
            }
        }
    }
    .info-actualizacion {
        width: 190px;
        padding: 0 15px;
        display: flex;
        .info-content {
            color: rgba(255,255,255,.7);
            // margin-top: 10%;
            margin-top: 16px;
            // text-align: end;
        }
        .btn-reload {
            margin-top: 23px;
            padding: 3px;
            cursor: pointer;
        }
    }
}
.mat-elevation-z8 {

    .spinner-container {
        display: flex;
        justify-content: center;
        height: 100vh;
        mat-spinner {
            margin-top: 17%
        }
    }

    .table-container {
        mat-table {
            mat-header-cell {
                // padding: 0 10px;
                padding: 0 4px;
                font-size: 11.5px;
            }
            mat-row {
                mat-cell {
                    text-transform: capitalize;
                    padding: 2px 4px;
                    display: inline-block;
                    font-size: 11.5px;
                    //text-align: center;

                    .row-analisis{
                        white-space: nowrap;
                        padding: 1px 0;
                    }
                }
            }

            .estado-descargado {
                background:rgba(78, 217, 50, 0.36);
            }

            .estado-autorizado {
                background:rgba(217, 150, 50, 0.36);
            }

            .estado-posicion {
                background:rgba(50, 165, 217, 0.36);
            }

            .estado-demorado {
                background:rgba(200, 217, 50, 0.36);
            }

            .estado-rechazado {
                background:rgba(217, 50, 50, 0.36);
            }

            .estado-desviado {
                background:rgba(217, 50, 195, 0.36);
            }


            .nro-carta-detalle {
                cursor: pointer;
            }

            .nro-carta-detalle:hover {
                color: #c2185b;
            }


        }
    }

    .table-container-light {

        mat-table {
            // background: #fff;
            // background: #e6e3e3;
            background: #dddddd;
            color: #000;
            mat-header-cell {
                // padding: 0 10px;
                padding: 0 4px;
                font-size: 11.5px;

                color: rgba(0,0,0,.68);
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: rgba(0,0,0,.12);
            }
            mat-row {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: rgba(0,0,0,.12);
                mat-cell {
                    text-transform: capitalize;
                    padding: 2px 4px;
                    display: inline-block;
                    font-size: 11.5px;

                    color: rgba(0,0,0,.87);

                    .row-analisis{
                        white-space: nowrap;
                        padding: 1px 0;
                    }
                }
            }

            mat-header-row {
                margin-bottom: -1px;
            }

            .estado-descargado {
                // background:rgba(78, 217, 50, 0.36);
                background: rgba(74, 216, 92, 0.29);
            }

            .estado-autorizado {
                // background:rgba(217, 150, 50, 0.36);
                background:rgba(217, 150, 50, 0.20);
            }

            .estado-posicion {
                // background:rgba(50, 165, 217, 0.36);
                background:rgba(50, 165, 217, 0.20);
            }

            .estado-demorado {
                // background:rgba(200, 217, 50, 0.36);
                background:rgba(200, 217, 50, 0.20);
            }

            .estado-rechazado {
                // background:rgba(217, 50, 50, 0.36);
                background:rgba(217, 50, 50, 0.20);
            }

            .estado-desviado {
                // background:rgba(217, 50, 195, 0.36);
                background:rgba(217, 50, 195, 0.20);
            }


            .nro-carta-detalle {
                cursor: pointer;
            }

            .nro-carta-detalle:hover {
                color: #c2185b;
            }


        }
    }
}

.verySmallColumnMat {
    flex: 0 0 10px;
}


// .btn-change-color-table {
//     font-size: 1rem;
//     position: fixed;

//     right: 45px;
//     top: 25px;
//     // bottom: 25px;
// }
