<div class="filtros-select">
    <div class="filtros-select-content">
        <div class="filtros-dropdowns">
            <mat-form-field>
                <mat-select [compareWith]="setDefaultSelectEspe" [disabled]="(dataSource.loading$ | async)" placeholder="Especie">
                    <mat-option (click)="filtrar(null, 'especie')">
                        Todas
                    </mat-option>
                    <mat-option *ngFor="let espe of listasDesp.especies" [value]="espe" (click)="filtrar(espe, 'especie')">
                        {{ espe.descripcionmercaderia }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select [compareWith]="setDefaultSelectDest" [disabled]="(dataSource.loading$ | async)" placeholder="Destinos">
                    <mat-option (click)="filtrar(null, 'destino')">
                        Todos
                    </mat-option>
                    <mat-option *ngFor="let dest of listasDesp.destinos" [value]="dest" (click)="filtrar(dest.ptoCodinterno, 'destino')">
                    {{ dest.ptoRazon }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select [compareWith]="setDefaultSelectSitu" [disabled]="(dataSource.loading$ | async)" placeholder="Situacion">
                    <mat-option (click)="filtrar(null, 'situacion')">
                        Todas
                    </mat-option>
                    <mat-option *ngFor="let situ of listasDesp.situaciones" [value]="situ" (click)="filtrar(situ, 'situacion')">
                        {{ situ }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select [compareWith]="setDefaultSelectEntre"[disabled]="(dataSource.loading$ | async)" placeholder="Entregador">
                    <mat-option (click)="filtrar(null, 'entregador')">
                        Todos
                    </mat-option>
                    <mat-option *ngFor="let entre of listasDesp.entregadores" [value]="entre" (click)="filtrar(entre.cuit, 'entregador')">
                        {{ entre.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="filtros-dropdowns">
            <mat-form-field>
                <mat-select [compareWith]="setDefaultSelectTitu"[disabled]="(dataSource.loading$ | async)" placeholder="Titular">
                    <mat-option (click)="filtrar(null, 'titular')">
                        Todas
                    </mat-option>
                    <mat-option *ngFor="let titular of listasDesp.titulares" [value]="titular" (click)="filtrar(titular.cuit, 'titular')">
                    {{ titular.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select [compareWith]="setDefaultSelectInter"[disabled]="(dataSource.loading$ | async)" placeholder="Intermediario">
                    <mat-option (click)="filtrar(null, 'intermediario')">
                        Todos
                    </mat-option>
                    <mat-option *ngFor="let interm of listasDesp.intermediarios" [value]="interm" (click)="filtrar(interm.cuit, 'intermediario')">
                    {{ interm.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select [compareWith]="setDefaultSelectRemCom"[disabled]="(dataSource.loading$ | async)" placeholder="Rem. Comercial">
                    <mat-option (click)="filtrar(null, 'remComercial')">
                        Todas
                    </mat-option>
                    <mat-option *ngFor="let remCom of listasDesp.remitentesCom" [value]="remCom" (click)="filtrar(remCom.cuit, 'remComercial')">
                        {{ remCom.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select [compareWith]="setDefaultSelectCorre"[disabled]="(dataSource.loading$ | async)" placeholder="Corredor">
                    <mat-option (click)="filtrar(null, 'corredor')">
                        Todos
                    </mat-option>
                    <mat-option *ngFor="let corre of listasDesp.corredores" [value]="corre" (click)="filtrar(corre.cuit, 'corredor')">
                        {{ corre.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="filtros-dropdowns">
            <mat-form-field class="filtro-item">
                <mat-select [compareWith]="setDefaultSelectDesti"[disabled]="(dataSource.loading$ | async)" placeholder="Destinatario">
                    <mat-option (click)="filtrar(null, 'destinatario')">
                        Todos
                    </mat-option>
                    <mat-option *ngFor="let destina of listasDesp.destinatarios" [value]="destina" (click)="filtrar(destina.cuit, 'destinatario')">
                        {{ destina.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="filtro-item">
                <mat-select [compareWith]="setDefaultSelectProce"[disabled]="(dataSource.loading$ | async)" placeholder="Procedencia">
                    <mat-option (click)="filtrar(null, 'procedencia')">
                        Todos
                    </mat-option>
                    <mat-option *ngFor="let proced of listasDesp.procedencias" [value]="proced" (click)="filtrar(proced.cod, 'procedencia')">
                        {{ proced.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <section class="filtros-checkbox filtro-item">
                <span class="filtro-title">Entrega</span>
                <div class="checkbox-container">
                    <!-- <mat-checkbox [disabled]="(dataSource.loading$ | async)" [checked]="filtrosActivos.entrega.propia ? filtrosActivos.entrega.propia : false" (click)="filtrar(!filtrosActivos.entrega.propia, 'entrega.propia')">Propia</mat-checkbox>
                    <mat-checkbox [disabled]="(dataSource.loading$ | async)" [checked]="filtrosActivos.entrega.otras ? filtrosActivos.entrega.otras : false" (click)="filtrar(!filtrosActivos.entrega.otras, 'entrega.otras')">Otras</mat-checkbox> -->
                    <mat-checkbox [disabled]="(dataSource.loading$ | async)" [(ngModel)]="filtrosActivos.entrega.propia" (ngModelChange)="filtrar(!filtrosActivos.entrega.propia, 'none')">Propia</mat-checkbox>
                    <mat-checkbox [disabled]="(dataSource.loading$ | async)" [(ngModel)]="filtrosActivos.entrega.otras" (ngModelChange)="filtrar(!filtrosActivos.entrega.otras, 'none')">Otras</mat-checkbox>
                </div>
            </section>

            <section class="info-filtros filtro-item">
                <!-- <span class="filtro-title">Info</span> -->
                <div class="total-container">
                    <span>Cantidad: {{totalActivo ? totalActivo : '-'}}</span>
                </div>
            </section>
        </div>
    </div>

</div>

<div class="table-footer">
    <div class="busqueda-container">
        <mat-form-field>
            <input [disabled]="(dataSource.loading$ | async)" matInput type="text" placeholder="Buscar" [(ngModel)]="valueBusqueda" (ngModelChange)="onBuscar($event)">
        </mat-form-field>
    </div>

    <div class="acciones-container">
        <button [disabled]="(dataSource.loading$ | async)" (click)="generarExcel()" class="accion" mat-raised-button color="secondary">
            <div *ngIf="estadoTablaPosicion !== 1" class="excel-container">
                <i class="fas fa-file-excel"></i>
                <span>Excel</span>
            </div>
            <div *ngIf="estadoTablaPosicion === 1" class="excel-spinner">
                <mat-spinner [diameter]="23"></mat-spinner>
            </div>

        </button>
        <button [disabled]="(dataSource.loading$ | async)" (click)="cartaPorteService.generarAnalisis(estadoTablaPosicion)(posicionTotal)(dataSource)" class="accion" mat-raised-button color="secondary">
            <i class="fas fa-chart-pie"></i>
            <span>Analisis</span>
        </button>
        <button [disabled]="(dataSource.loading$ | async)" (click)="posicionService.openAccionDialog(cartasSeleccionadas, actualizarDataDspsDeAccion)" class="accion" mat-raised-button color="secondary">
            <i class="fas fa-fire"></i>
            <span>Accion</span>
        </button>
    </div>

    <section class="info-actualizacion">
        <div class="info-content">
            <span>Ultima Actualizacion: {{ ultimaActualizacion ? ultimaActualizacion.fromNow() : 'Cargando..' }}</span>
        </div>
        <div (click)="reloadData(true)" class="btn-reload">
            <i class="fas fa-sync-alt"></i>
        </div>
    </section>
</div>

<div class="mat-elevation-z8">
    <div class="spinner-container" *ngIf="(dataSource.loading$ | async) || recargandoPosi">
        <mat-spinner></mat-spinner>
    </div>

    <!-- <div [ngClass]="{'table-container': !tableThemeLight, 'table-container-light': tableThemeLight}" *ngIf="!(dataSource.loading$ | async)"> -->
    <div
        *ngIf="!(dataSource.loading$ | async)"
        [ngClass]="{
            'table-container': !(configService.getLightTableState() | async),
            'table-container-light': (configService.getLightTableState() | async)
        }"
        >

        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortTabla($event)" aria-label="Elements">

            <ng-container matColumnDef="nroCP">
                <mat-header-cell *matHeaderCellDef mat-sort-header="PorteNro">Nro.CP</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <div [routerLink]="['/home/detalle-carta', row.PorteNro]" class="nro-carta-detalle">
                        {{row.PorteNro}}
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="A">
                <mat-header-cell *matHeaderCellDef [ngStyle]="{'flex': '0 0 26px'}" >A</mat-header-cell>
                <mat-cell *matCellDef="let row" [ngStyle]="{'flex': '0 0 26px'}" >
                    <mat-checkbox (click)="onClickCarta(row)" *ngIf="posicionService.checkIfAccionable(row)"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="situacion">
                <mat-header-cell *matHeaderCellDef mat-sort-header="estadoPosiReal">Situacion</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.estadoPosiReal | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="turno">
                <mat-header-cell [ngStyle]="{'flex': '0 0 31px'}" *matHeaderCellDef mat-sort-header="porteTurno">Turno</mat-header-cell>
                <mat-cell [ngStyle]="{'flex': '0 0 31px'}" *matCellDef="let row">{{row.porteTurno}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="titular">
                <mat-header-cell *matHeaderCellDef mat-sort-header="titular.denominacion">Titular</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.titular.denominacion)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="intermediario">
                <mat-header-cell *matHeaderCellDef mat-sort-header="intermediario.denominacion">Intermed.</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.intermediario.denominacion)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="remitenteComercial">
                <mat-header-cell *matHeaderCellDef mat-sort-header="remCom.denominacion">Rem. Comercial</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.remCom.denominacion)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="corredor">
                <mat-header-cell *matHeaderCellDef mat-sort-header="corredor.denominacion">Corredor</mat-header-cell>
                <mat-cell *matCellDef="let row">{{
                    getCorredorRow(row)
                }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="especie">
                <mat-header-cell *matHeaderCellDef mat-sort-header="cereal">Especie</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.cereal)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="destino">
                <mat-header-cell *matHeaderCellDef mat-sort-header="puertoDestino.ptoRazon">Destino</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.puertoDestino.ptoRazon)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="destinatario">
                <mat-header-cell *matHeaderCellDef mat-sort-header="destin">Destinatario</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.destin)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="qa">
                <mat-header-cell *matHeaderCellDef [ngStyle]="{'flex': '0 0 37px'}" mat-sort-header="calidadCldNomenclatura">Qa.</mat-header-cell>
                <mat-cell [ngStyle]="{'flex': '0 0 37px'}" *matCellDef="let row">
                    <span>{{cartaPorteService.acotarString(row.calidadCldNomenclatura)() | lowercase}}</span>
                    <i
                        *ngIf="row.calidadCldNomenclatura === 'G3'"
                        style="padding-left: 4px; color: #ffc900; font-size: 0.87rem"
                        class="fas fa-exclamation-circle"
                        matTooltip="Atencion: Grado 3"
                        matTooltipPosition="right"
                        ></i>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="analisis">
                <mat-header-cell *matHeaderCellDef [ngStyle]="{'flex': '0 0 95px'}" mat-sort-header="analisis">Analisis</mat-header-cell>
                <mat-cell [attr.id]="'idAnalisis-' + row.PorteNro" *matCellDef="let row" [ngStyle]="{'flex': '0 0 95px'}">

                    <div *ngIf="row.puertoDestino && row.puertoDestino.ptoCodinterno === 62" class="anali-obs-cofco-lima">
                        {{row.obsEstado}} {{row.porteObservacion}}
                    </div>

                    <div *ngIf="
                        (row.analisis && row.analisis.length > 0) &&
                        !(row.puertoDestino && row.puertoDestino.ptoCodinterno === 62)
                    ">
                        <div class="row-analisis" *ngFor="let a of row.analisis">
                            {{ cartaPorteService.parseAnalisis(a) }}
                        </div>
                    </div>
                    <div *ngIf="
                        row.obsAnalisis &&
                        !(row.puertoDestino && row.puertoDestino.ptoCodinterno === 62)
                    " class="row-obs-analisis">
                        {{ row.obsAnalisis }}
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="patenteVagon">
                <mat-header-cell [ngStyle]="{'flex': '0 0 72px'}" *matHeaderCellDef mat-sort-header="portePatenteCamion">Pat/Vag</mat-header-cell>
                <mat-cell [ngStyle]="{'flex': '0 0 72px', 'text-transform': 'uppercase'}" *matCellDef="let row">{{posicionService.getPatVag(row)}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="obsEstado">
                <mat-header-cell *matHeaderCellDef mat-sort-header="obsEstado">Obs Pto</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.obsEstado}} {{row.porteObservacion}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="procedencia">
                <mat-header-cell *matHeaderCellDef mat-sort-header="procedencia.denominacion">Proced.</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.procedencia.denominacion)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="kgsProcedencia">
                <mat-header-cell [ngStyle]="{'flex': '0 0 34px'}" *matHeaderCellDef mat-sort-header="porteKgsProcede">Kgs Proc</mat-header-cell>
                <mat-cell [ngStyle]="{'flex': '0 0 34px'}" *matCellDef="let row">{{row.porteKgsProcede}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="kgsNeto">
                <mat-header-cell [ngStyle]="{'flex': '0 0 34px'}" *matHeaderCellDef mat-sort-header="porteKgsNeto">Kgs Neto</mat-header-cell>
                <mat-cell [ngStyle]="{'flex': '0 0 34px'}" *matCellDef="let row">{{row.porteKgsNeto}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="entregador">
                <mat-header-cell *matHeaderCellDef mat-sort-header="entregador.denominacion">Entregador</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.entregador.denominacion)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="entreCp">
                <mat-header-cell *matHeaderCellDef mat-sort-header="entreCp">Entre CP</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.entreCp)('entreCp') | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="autPuerto">
                <mat-header-cell [ngStyle]="{'flex': '0 0 34px'}" *matHeaderCellDef mat-sort-header="autPuerto">Aut Puerto</mat-header-cell>
                <mat-cell [ngStyle]="{'flex': '0 0 34px'}" *matCellDef="let row">{{row.autPuerto}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="enTramite">
                <mat-header-cell [ngStyle]="{'flex': '0 0 30px'}" *matHeaderCellDef mat-sort-header="enTramite">En tramite</mat-header-cell>
                <mat-cell [ngStyle]="{'flex': '0 0 30px'}" *matCellDef="let row">
                    <mat-checkbox
                        [(ngModel)]="row.enTramite"
                        (ngModelChange)="onChangeEnTramite(row, $event)"
                        *ngIf="posicionService.checkIfAccionable(row)"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="whasapBtn">
                <mat-header-cell [ngStyle]="{'flex': '0 0 20px'}" *matHeaderCellDef mat-sort-header="whasapBtn">W</mat-header-cell>
                <mat-cell [ngStyle]="{'flex': '0 0 20px'}" *matCellDef="let row">
                    <button ngxClipboard [cbContent]="getCopyRowDescrip(row)" style="background: none; border: none; padding: 0; margin: 0;">
                        <i
                            style="font-size: .85rem; cursor: pointer;"
                            class="fab fa-whatsapp"
                            matTooltip="Copiar fila completa"
                            matTooltipPosition="right"
                            ></i>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row    [ngClass]="cartaPorteService.getClassByCarta(row)"
                        *matRowDef="let row; columns: displayedColumns;"
                        >
            </mat-row>
        </mat-table>
    </div>

</div>

<!-- <button class="btn-change-color-table" (click)="tableThemeLight = !tableThemeLight" mat-fab>
    <i class="fas fa-fill-drip"></i>
</button> -->
