<div class="buscar-carta">
    <div class="buscar-carta-header">
        <div class="buscar-carta-title">
            <p>Buscar carta por número</p>
        </div>
    </div>

    <div class="buscar-carta-body">
        <div class="buscar-carta-body-container">
            <mat-form-field>
                <input [(ngModel)]="nroCartaBuscada" matInput placeholder="Nro carta" name="nroCarta">
            </mat-form-field>

            <div class="btn-container">
                <button [routerLink]="['/home/detalle-carta', nroCartaBuscada]" mat-raised-button color="primary">Buscar</button>
            </div>
        </div>
    </div>

    <div class="buscar-carta-footer">

    </div>
</div>
