.buscar-carta {
    font-family: Roboto,"Helvetica Neue",sans-serif;

    .buscar-carta-header {
        .buscar-carta-title {
            font-size: 1.6rem;
            color: #ffffff;
        }
    }

    .buscar-carta-body {
        .buscar-carta-body-container {
            width: 50%;
            display: flex;
            flex-direction: column;

            .btn-container {
                margin-top: 2%;
            }
        }
    }
}
