<div class="camiones-descarga">

    <div class="camiones-descarga-content">

        <div class="camiones-descarga-title">
            <p>Camiones a la Descarga Hoy</p>
        </div>

        <table style="width: 100%" class="pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Puerto</th>
                    <th>Girasol</th>
                    <th>Soja</th>
                    <th>Trigo</th>
                    <th>Maiz</th>
                    <th>Sorgo</th>
                    <th>Otros</th>
                    <th>Observaciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let camion of camionesDescarga | async">
                    <td>
                        {{ camion.puerto }}
                    </td>
                    <td>
                        {{ camion.girasol }}
                    </td>
                    <td>
                        {{ camion.soja }}
                    </td>
                    <td>
                        {{ camion.trigo }}
                    </td>
                    <td>
                        {{ camion.maiz }}
                    </td>
                    <td>
                        {{ camion.sorgo }}
                    </td>
                    <td>
                        {{ camion.otros }}
                    </td>
                    <td>
                        {{ camion.observacion }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
