<div class="home-container">
    <mat-toolbar class="header-toolbar">
        <div class="menu-left">
            <div class="logo-container">
                <img class="logo-cerealnet" src="assets/img/short-cerealnet.png">
                <button (click)="onClickLeftMenu()" class="menu-btn" mat-button>
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>

        <div class="menu-center">
            <div *ngIf="noticias && noticias.length > 0" class="noticias-slider-titulo">
                Últimas Noticias:
            </div>

            <div class="noticias-slider">
                <div class="noticias-slider-item" *ngFor="let noti of noticias" style="left: 0.5%">
                    {{ noti.puerto.ptoRazon }} - {{ noti.titulo }}: {{ noti.descripcion }},
                </div>
            </div>

        </div>

        <div class="menu-right">

            <div class="noticias-container">
                <div tabindex="1" (click)="onClickShowNoticia()" (blur)="onBlurNoticia()" class="btn-notif">
                    <i [matBadgeHidden]="getCantNotisNoVistas() <= 0" [matBadge]="getCantNotisNoVistas()" matBadgeOverlap="false" class="fas fa-exclamation-circle"></i>
                </div>

                <div *ngIf="showNoticia && noticias && noticias.length > 0" class="list-noticias-container">
                    <div class="noticias-titulo">Noticias</div>
                    <ul class="list-noticias">
                        <li (mousedown)="onClickNoticia()" class="li-list-noti" *ngFor="let noti of noticias">
                            <div class="noti-body">
                                <div class="noti-nro-carta">
                                    {{ noti.titulo }}
                                </div>
                                :
                                <div class="noti-text">
                                    {{ noti.descripcion }}
                                </div>
                            </div>
                            <div class="noti-footer">
                                <div class="noti-footer-icon-fecha">
                                    <i class="fas fa-clock"></i>
                                </div>
                                <div class="noti-footer-fecha-hora">
                                    {{ utilsService.capitalizeFirstLetter(momento(noti.fechaHora).calendar()) }}
                                </div>

                                <div class="noti-footer-puerto">
                                    {{ noti.puerto.ptoRazon }}
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>

                <div *ngIf="showNoticia && !(noticias && noticias.length > 0)" class="empty-notificaciones">
                    No hay noticias
                </div>

            </div>

            <div class="notifications-container">
                <div tabindex="1" (click)="onClickNotif()" (blur)="onBlurNotif()" class="btn-notif">
                    <i [matBadgeHidden]="getCantNotifNoVistas() <= 0" [matBadge]="getCantNotifNoVistas()" matBadgeOverlap="false" class="fas fa-bell"></i>
                </div>

                <div *ngIf="showNotif && notificaciones.length > 0" class="list-notificaciones-container">
                    <ul class="list-notificaciones">
                        <li class="li-list-noti" *ngFor="let noti of notificaciones">
                            <div class="noti-body">
                                <div class="noti-checkbox">
                                    <mat-checkbox (mousedown)="onClickCheckboxNoti(noti.carta)" *ngIf="posicionService.checkIfAccionable(noti.carta)">
                                    </mat-checkbox>
                                </div>

                                <div (mousedown)="onClickDetalleCartaNotif(noti)" class="noti-nro-carta">
                                    {{ noti.carta.PorteNro }}
                                </div>
                                :
                                <div class="noti-text">
                                    {{ getNotificacionText(noti) }}
                                </div>
                            </div>
                            <div class="noti-footer">
                                <div class="noti-footer-icon-fecha">
                                    <i class="fas fa-clock"></i>
                                </div>
                                <div class="noti-footer-fecha-hora">
                                    {{ utilsService.capitalizeFirstLetter(momento(noti.fechaHora).calendar()) }}
                                </div>

                                <div class="noti-footer-puerto">
                                    {{ noti.carta.puertoDestino.ptoRazon }}
                                </div>

                            </div>

                        </li>
                    </ul>

                    <button (click)="onClickAccionNotif()" class="accion" mat-raised-button color="secondary">
                        <i class="fas fa-fire"></i>
                        <span>Accion</span>
                    </button>
                </div>

                <div *ngIf="showNotif && notificaciones.length <= 0" class="empty-notificaciones">
                    No hay notificaciones
                </div>
            </div>

            <div (click)="menuUserActivo = !menuUserActivo" class="user-info" >
                <img class="avatar" src="assets/img/iconUser.jpg">
                <span class="name-user">
                    {{accesoActivo.logueo}}
                </span>
                <i  class="fas fa-angle-down btn-menu-user"></i>
            </div>

            <div *ngIf="menuUserActivo" class="the-menu">
                <button (click)="onClickSalir()" mat-button>
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Salir</span>
                </button>
            </div>

        </div>

    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav class="sidenav-menu" mode="side" [(opened)]="estadoMenu" fixedInViewport="false">
            <menu></menu>
        </mat-sidenav>

        <mat-sidenav-content class="sidenav-body">

            <div class="main-content">
                <router-outlet></router-outlet>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>




<!--

    <li class="li-list-noti" *ngFor="let noti of notificaciones">
                            <div class="noti-icon">
                                <i [ngClass]="noti.tipo === 1 ? 'fas fa-clock' : 'fas fa-check-circle'"></i>
                            </div>

                            <mat-checkbox (click)="onClickCheckboxNoti(noti.carta)" *ngIf="posicionService.checkIfAccionable(noti.carta)">
                            </mat-checkbox>
                            <div (mousedown)="onClickDetalleCartaNotif(noti)" class="noti-nro-carta">
                                {{ noti.carta.PorteNro }}
                            </div>
                            <div class="noti-text">
                                {{ getNotificacionText(noti) }}
                            </div>

                        </li>
 -->
