::ng-deep .mat-menu-panel {
    .mat-menu-item {
        span {
            padding: 0 10%;
        }
    }

}

.home-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .header-toolbar {
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
        .menu-left {
            display: flex;
            width: 341px;
            .logo-container{
                width: 80%;
                .logo-cerealnet {
                    // width: 75%;
                    // padding: 0 1%;
                    // margin-top: 6%;
                    width: 85%;
                    padding: 0 0% 0 4%;
                    margin-top: 6%;
                }
                .menu-btn {
                    position: relative;
                    bottom: 11px;
                    right: 10px;
                }
            }
            .menu-btn {
                width: 20%;
                font-size: 1.4rem;
                padding-top: 0.6%;
            }
        }

        .menu-center {
            display: flex;
            width: 48%;
            overflow: hidden;
            font-size: 0.8rem;
            padding-top: 11px;

            .noticias-slider-titulo {
                font-weight: bold;
                padding-right: 3px;
                z-index: 3;
                background: #212121;
            }

            .noticias-slider {
                display: flex;
                position: relative;

                // -webkit-animation:linear infinite normal;
                // -webkit-animation-name: run;
                // -webkit-animation-duration: 8s;
                // -webkit-animation-iteration-count: 10;

                .noticias-slider-item {
                    padding-right: 4px;
                }
            }

            // @-webkit-keyframes run {
            //     0% { left: 0;}
            //     50%{ left : 100%;}
            //     100%{ left: 0;}
            // }
        }

        .menu-right {
            display: flex;

            .notifications-container {
                // margin: 5px 52px;
                margin: 5px 52px 5px 17px;

                padding-top: 7px;

                .btn-notif {
                    cursor: pointer;
                }

                .btn-notif:focus {
                    outline: none;
                    color: #ebecf0;
                }

                .empty-notificaciones {
                    font-size: 13px;
                    position: absolute;
                    z-index: 99;
                    right: 211px;
                    background: #424242;
                    // border-radius: 14px;
                    opacity: 1;
                    padding: 3px 10px;
                }

                .list-notificaciones-container {
                    font-size: 13px;
                    position: absolute;
                    z-index: 99;
                    right: 211px;
                    background: #424242;
                    // border-radius: 14px;
                    opacity: 1;
                    border: 1px solid rgb(48, 48, 48);
                    border-radius: 0 0 2px 2px;
                    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);

                    padding: 1px;

                    .accion {
                        display: block;
                        margin: 12px auto 6px;
                    }

                    .list-notificaciones {
                        list-style-type: none;
                        padding: 0px;
                        margin: 6px 0;
                        max-height: 240px;
                        overflow: auto;

                        .li-list-noti {
                            display: flex;
                            flex-direction: column;
                            padding: 0px 16px;
                            max-width: 280px;

                            .noti-icon {
                                margin-right: 8px;
                            }

                            .noti-text {
                                // margin-right: 4px;
                                padding-left: 7px;
                            }

                            .noti-body {
                                display: flex;
                                .noti-checkbox {
                                    margin-right: 7px;
                                }

                                .noti-nro-carta {
                                    padding-top: 2px;
                                }

                                .noti-nro-carta:hover {
                                    color: #c2185b;
                                    cursor: pointer;
                                }

                                .noti-text {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    padding-top: 2px;
                                }
                            }

                            .noti-footer {
                                display: flex;
                                font-size: 0.8rem;

                                .noti-footer-icon-fecha, .noti-footer-fecha-hora {
                                    padding-right: 6px;
                                }

                                .noti-footer-puerto {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }

                        .li-list-noti:nth-child(even) {
                            background: #565656;
                        }

                        // .li-list-noti:hover {
                        //     color: #c2185b;
                        //     cursor: pointer;
                        // }

                        // list-style-type: none;
                        // padding: 0px 16px;

                        // .li-list-noti {
                        //     display: flex;

                        //     .noti-icon {
                        //         margin-right: 8px;
                        //     }

                        //     .noti-text {
                        //         margin-right: 4px;
                        //     }

                        //     .noti-nro-carta {
                        //         cursor: pointer;
                        //     }

                        //     .noti-nro-carta:hover {
                        //         color: #c2185b;
                        //     }
                        // }
                    }
                }
            }


            .noticias-container {
                // margin: 5px 52px;
                margin: 5px 17px 5px 52px;
                padding-top: 7px;

                .btn-notif {
                    cursor: pointer;
                }

                .btn-notif:focus {
                    outline: none;
                    color: #ebecf0;
                }

                .empty-notificaciones {
                    font-size: 13px;
                    position: absolute;
                    z-index: 99;
                    right: 211px;
                    background: #424242;
                    // border-radius: 14px;
                    opacity: 1;
                    padding: 3px 10px;
                }

                .list-noticias-container {
                    font-size: 13px;
                    position: absolute;
                    z-index: 99;
                    right: 211px;
                    background: #424242;
                    // border-radius: 14px;
                    opacity: 1;
                    border: 1px solid rgb(48, 48, 48);
                    border-radius: 0 0 2px 2px;
                    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);

                    .noticias-titulo {
                        padding: 9px 17px 2px;
                        font-size: 1.4rem;
                        border-bottom: solid 1px #c1c1c1;
                    }

                    .list-noticias {
                        list-style-type: none;
                        padding: 0px;
                        margin: 6px 0;
                        max-height: 240px;
                        overflow: auto;

                        .li-list-noti {
                            display: flex;
                            flex-direction: column;
                            padding: 0px 16px;
                            max-width: 280px;

                            .noti-icon {
                                margin-right: 8px;
                            }

                            .noti-text {
                                // margin-right: 4px;
                                padding-left: 7px;
                            }

                            .noti-body {
                                display: flex;
                                .noti-nro-carta { }

                                .noti-text {
                                    // max-width: 60px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }

                            .noti-footer {
                                display: flex;
                                font-size: 0.8rem;

                                .noti-footer-icon-fecha, .noti-footer-fecha-hora {
                                    padding-right: 6px;
                                }

                                .noti-footer-puerto {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }

                        .li-list-noti:nth-child(even) {
                            background: #565656;
                        }

                        .li-list-noti:hover {
                            color: #c2185b;
                            cursor: pointer;
                        }
                    }
                }
            }

            .user-info {
                flex-direction: row;
                box-sizing: border-box;
                display: flex;
                max-height: 100%;
                place-content: center;
                align-items: center;
                cursor: pointer;

                .avatar {
                    width: 40px;
                    min-width: 40px;
                    height: 40px;
                    line-height: 40px;
                    margin: 0 8px 0 0;
                    border-radius: 50%;
                    font-size: 17px;
                    font-weight: 500;
                    text-align: center;
                    color: #fff;
                }
                .name-user {
                    font-size: 1rem;
                    padding: 5% 0% 0% 5%;
                    text-transform: capitalize;
                }
                .btn-menu-user {
                    padding: 9%;
                    margin-top: 3%;
                }
            }

            .the-menu {
                position: absolute;

                z-index: 15;
                top: 56px;
                right: 21px;
                background: #1c1c1cd9;

                box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
            }
        }



    }

    .sidenav-container {
        height: 100%;
        .sidenav-menu {

            menu {
                padding-left: 0%;
                // padding-right: 13%;
            }

            // .sidenav-content {
            //     padding: 1%;
            //     .sidenav-item{
            //         padding: 0.5%;
            //     }
            // }
        }
        .sidenav-body {
            .header-toolbar{
                padding: 1.5% 0;
            }
            .main-content{
                padding: 1.5%;
            }
        }
    }
}



.disabled-notif {
    // visibility: unset;
    color: #b0bec5;

    .btn-notif {
        cursor: no-drop !important;
    }
}
