<div class="buscar-carta-patente">
    <div class="buscar-carta-header">
        <div class="buscar-carta-title">
            <p>Buscar carta por patente</p>
        </div>
    </div>

    <div class="buscar-carta-body">
        <div class="buscar-carta-body-container">
            <mat-form-field>
                <input [(ngModel)]="patenteBuscada" matInput placeholder="Patente" name="patente">
            </mat-form-field>

            <div class="btn-container">
                <button (click)="onClickBuscar()" mat-raised-button color="primary">Buscar</button>
            </div>
        </div>
    </div>

    <div *ngIf="estado !== 'porBuscar'" class="resultado-busqueda">
        <div class="info-detalle">
            <i class="fas fa-question-circle"></i>
            Puede ver el detalle de cualquier carta haciendo click en su número
        </div>
        <table class="pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Nro Carta</th>
                    <th>Situacion</th>
                    <th>Patente</th>
                    <th>Entregador</th>
                    <th>Entreg CP</th>
                </tr>
            </thead>

            <tbody>
                <div *ngIf="estado === 'cargando'" class="spinner-container">
                    <mat-spinner></mat-spinner>
                </div>

                <tr *ngFor="let carta of cartasEncontradas | async" >
                    <td>
                        <div [routerLink]="['/home/detalle-carta', carta.Porte_nro]" class="nro-carta-detalle">
                            {{ carta.Porte_nro }}
                        </div>
                    </td>
                    <td>
                        {{ carta.estado_posi_des }}
                    </td>
                    <td>
                        {{ carta.Porte_patente_camion }}
                    </td>
                    <td>
                        {{ carta.entre }}
                    </td>
                    <td>
                        {{ carta.entre_cp }}
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
