.buscar-carta-patente {
    font-family: Roboto,"Helvetica Neue",sans-serif;

    .buscar-carta-header {
        .buscar-carta-title {
            font-size: 1.6rem;
            color: #ffffff;
        }
    }

    .buscar-carta-body {
        .buscar-carta-body-container {
            width: 50%;
            display: flex;
            flex-direction: column;

            .btn-container {
                margin-top: 2%;
            }
        }
    }

    .resultado-busqueda {
        margin-top: 2%;

        .info-detalle {
            font-size: 13px;
            margin-left: 4px;
            margin-bottom: 7px;
            opacity: 0.7;

            i {
                margin-right: 4px;
            }
        }

        .pure-table {
            border: none;

            thead {
                background-color: #212121;
                color: #e4e5e7;

                th {
                    border-left: none;
                    white-space: nowrap;
                }
            }

            tbody {
                td {
                    border-left: none;
                    text-transform: capitalize;
                    background: #21212157;

                    .nro-carta-detalle {
                        cursor: pointer;
                    }

                    .nro-carta-detalle:hover {
                        color: #c2185b;
                    }
                }

                tr:nth-child(2n-1) td {
                    background-color: #424242;
                }

                .no-capitalize {
                    text-transform: none;
                }

                .spinner-container {
                    margin-left: 194%;
                    margin-top: 29%;
                }
            }

            // .pure-table-striped tr:nth-child(2n-1) td {
            //     background-color: #424242;
            // }
        }
    }
}
