.login-page {
    height: 100%;
    display: block;
    position: absolute;
    background-repeat: round;

    background-size: cover !important;

    .login-card {

        width: 40%;
        margin: 0 auto;
        margin-top: 8%;

        opacity: 0.93;
        //opacity: 0.85; white theme
        .login-form {
            padding: 2%;
            .form-header {
                img {
                    width: 65%;
                    padding: 4% 0% 7%;
                    margin: 0 auto;
                    display: block;
                }
            }
            .form-content{
                mat-form-field {
                    display: block;
                    padding-bottom: 5%;
                }

                .btn-container {
                    margin: 5% 0 2%;
                    button {
                        display: block;
                        margin: 0 auto;
                        width: 34%;
                    }
                }
            }
        }
    }
}

