<div class="login-page" [ngStyle]="{'background': loginService.getBackgroundUrl()}">

    <mat-card class="login-card" >
        <form class="login-form" #loginForm="ngForm" (ngSubmit)="doLogin()">
            <div class="form-header">
                <img src="assets/img/puertos-online-negativo.png">
            </div>

            <div class="form-content">
                <mat-form-field>
                    <input [(ngModel)]="dataUser.nombre" matInput placeholder="Usuario" name="nombre">
                </mat-form-field>

                <mat-form-field>
                    <input type="password" [(ngModel)]="dataUser.clave" matInput placeholder="Clave" name="clave">
                </mat-form-field>

                <div class="btn-container">
                    <button mat-raised-button color="primary">
                        <p *ngIf="!spinner" style="padding: 0; margin: 0;">Ingresar</p>
                        <i *ngIf="spinner" style="font-size: 1.1rem;color: #d6d6d4;" class="fas fa-circle-notch fa-spin"></i>
                    </button>
                </div>
            </div>

        </form>
    </mat-card>

</div>
