// $descargado: rgb(0, 255, 67, 0.10);
// $autorizado: rgba(255, 166, 0, 0.10);
// $posicion: rgba(47, 0, 255, 0.10);
// $demorado: rgba(251, 255, 0, 0.10);

.filtros-select {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5%;
    // flex-direction: column;

    .filtros-select-header {
        // display: flex;
        // justify-content: center;
        .filtros-header-row {
            // display: flex;
            // width: 872px;
            // justify-content: flex-end;
            .btn-show-filters {
                cursor: pointer;
            }
        }
    }

    .filtros-select-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .filtros-fechas {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0.5%;
            box-shadow: 0px 18px 0px -17px #959595;
            .filtros-fechas-inputs {
                display: flex;
                padding-left: 1%;
                .mat-form-field {
                    padding: 0 2%;
                }
            }

            .btn-container-fechas {
                margin: 1.4% 3% 0%;
                .btn-buscar-historia {
                    min-width: 106px;
                    i {
                        padding: 12% 14% 12% 0%;
                    }
                    span {
                        padding-top: 1%;
                        // position: relative;
                        // top: 2px;
                        display: inline-block;
                    }

                    .excel-spinner {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }

        .filtros-dropdowns {
            display: flex;
            //justify-content: center;
            mat-form-field {
                padding: 0 2%;
            }

            .filtrar {
                margin: 1% 2%;
                min-width: 100px;
                max-height: 40px;
                padding-right: 2.2%;
                font-size: 0.95rem;
                i {
                    padding: 12% 14% 12% 0%;
                }
                span {
                    padding-top: 0%;
                    padding-bottom: 5%;
                    position: relative;
                    top: 2px;
                    display: inline-block;
                }
            }

            .filtro-item {
                font-family: Roboto,"Helvetica Neue",sans-serif;
                color: #e4e5e7;
                width: 180px;
                padding: 0 2%;

                .filtro-title {
                    color: rgba(255,255,255,.7);
                    font-size: 0.75rem;
                }
            }
            .filtros-checkbox {
                display: flex;
                flex-direction: column;
                .checkbox-container{
                    display: flex;

                    padding-top: 3.8%;
                    mat-checkbox {
                        margin: 0 6% 0 0;
                    }
                }

            }

            .info-filtros {
                .total-container {
                    color: rgba(255,255,255,.7);
                    margin-top: 13%;
                    text-align: end;
                }
            }
        }

        // .others-filters {
        //     display: flex;
        //     justify-content: space-between;
        //     .filtros-checkbox {
        //         display: flex;
        //         margin: 1% 2%;
        //         mat-checkbox {
        //             margin: 0 6% 0 0;
        //         }
        //     }
        //     button {
        //         margin: 0% 1.8%;
        //     }


        //     .total-container {
        //         font-family: Roboto,"Helvetica Neue",sans-serif;
        //         color: #e4e5e7;
        //         margin: 1% 2%;
        //     }

        // }

    }


}

.btn-container{
    display: flex;
    justify-content: center;
    .acciones-container {
        display: flex;
        margin: 0.1% 0%;
        .accion {
            margin: 1%;
            min-width: 106px;
            i {
                padding: 12% 14% 12% 0%;
            }
            span {
                padding-top: 1%;
                // position: relative;
                // top: 2px;
                display: inline-block;
            }

            .excel-spinner {
                display: flex;
                justify-content: center;
            }
        }
    }
}
.mat-elevation-z8 {

    .spinner-container {
        display: flex;
        justify-content: center;
        height: 100vh;
        mat-spinner {
            margin-top: 17%
        }
    }

    .table-container {
        mat-table {
            mat-header-cell {
                // padding: 0 10px;
                padding: 0 4px;
                font-size: 11.5px;
            }
            mat-row {
                mat-cell {
                    text-transform: capitalize;
                    padding: 2px 4px;
                    display: inline-block;
                    font-size: 11.5px;
                    //text-align: center;

                    .row-analisis{
                        white-space: nowrap;
                        padding: 1px 0;
                    }
                }
            }

            .estado-descargado {
                background:rgba(78, 217, 50, 0.36);
            }

            .estado-autorizado {
                background:rgba(217, 150, 50, 0.36);
            }

            .estado-posicion {
                background:rgba(50, 165, 217, 0.36);
            }

            .estado-demorado {
                background:rgba(200, 217, 50, 0.36);
            }

            .estado-rechazado {
                background:rgba(217, 50, 50, 0.36);
            }

            .estado-desviado {
                background:rgba(217, 50, 195, 0.36);
            }

            .nro-carta-detalle {
                cursor: pointer;
            }

            .nro-carta-detalle:hover {
                color: #c2185b;
            }
        }
    }
}

.verySmallColumnMat {
    flex: 0 0 10px;
}
