
<div class="filtros-select">

    <div class="filtros-select-content">

        <div class="filtros-fechas">
            <div class="filtros-fechas-inputs">
                <mat-form-field>
                    <input [(ngModel)]="filtroFecha.fechaDesde"  matInput [matDatepicker]="pickerDesde" placeholder="Fecha desde">
                    <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDesde></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <input [(ngModel)]="filtroFecha.fechaHasta"  matInput [matDatepicker]="pickerHasta" placeholder="Fecha hasta">
                    <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
                    <mat-datepicker #pickerHasta></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="btn-container-fechas">
                <button (click)="actualizarDataTabla()" class="btn-buscar-historia" mat-raised-button color="secondary">
                    <i class="fas fa-search"></i>
                    <span>Buscar</span>
                </button>
            </div>
        </div>

        <div class="filtros-dropdowns">
            <mat-form-field>
                <mat-select placeholder="Especie">
                    <mat-option (click)="filtrar(null, 'especie')">
                        Todas
                    </mat-option>
                    <mat-option *ngFor="let espe of listasDesp.especies" [value]="espe" (click)="filtrar(espe, 'especie')">
                        {{ espe.descripcionmercaderia }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Destinos">
                    <mat-option (click)="filtrar(null, 'destino')">
                        Todos
                    </mat-option>
                    <mat-option *ngFor="let dest of listasDesp.destinos" [value]="dest" (click)="filtrar(dest.ptoCodinterno, 'destino')">
                    {{ dest.ptoRazon }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="filtro-item">
                <mat-select placeholder="Procedencia">
                    <mat-option (click)="filtrar(null, 'procedencia')">
                        Todos
                    </mat-option>
                    <mat-option *ngFor="let proced of listasDesp.procedencias" [value]="proced" (click)="filtrar(proced.cod, 'procedencia')">
                        {{ proced.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Entregador">
                    <mat-option (click)="filtrar(null, 'entregador')">
                        Todos
                    </mat-option>
                    <mat-option *ngFor="let entre of listasDesp.entregadores" [value]="entre" (click)="filtrar(entre.cuit, 'entregador')">
                        {{ entre.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="filtros-dropdowns">
            <mat-form-field>
                <mat-select placeholder="Titular">
                    <mat-option (click)="filtrar(null, 'titular')">
                        Todas
                    </mat-option>
                    <mat-option *ngFor="let titular of listasDesp.titulares" [value]="titular" (click)="filtrar(titular.cuit, 'titular')">
                    {{ titular.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Intermediario">
                    <mat-option (click)="filtrar(null, 'intermediario')">
                        Todos
                    </mat-option>
                    <mat-option *ngFor="let interm of listasDesp.intermediarios" [value]="interm" (click)="filtrar(interm.cuit, 'intermediario')">
                    {{ interm.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Rem. Comercial">
                    <mat-option (click)="filtrar(null, 'remComercial')">
                        Todas
                    </mat-option>
                    <mat-option *ngFor="let remCom of listasDesp.remitentesCom" [value]="remCom" (click)="filtrar(remCom.cuit, 'remComercial')">
                        {{ remCom.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Corredor">
                    <mat-option (click)="filtrar(null, 'corredor')">
                        Todos
                    </mat-option>
                    <mat-option *ngFor="let corre of listasDesp.corredores" [value]="corre" (click)="filtrar(corre.cuit, 'corredor')">
                        {{ corre.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="filtros-dropdowns">
            <mat-form-field class="filtro-item">
                <mat-select placeholder="Destinatario">
                    <mat-option (click)="filtrar(null, 'destinatario')">
                        Todos
                    </mat-option>
                    <mat-option *ngFor="let destina of listasDesp.destinatarios" [value]="destina" (click)="filtrar(destina.cuit, 'destinatario')">
                        {{ destina.denominacion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="filtro-item">
                <mat-select placeholder="Estado">
                    <mat-option (click)="filtrar(null, 'estadoHistoria')">
                        Todos
                    </mat-option>
                    <mat-option *ngFor="let estado of listasDesp.estadoHistoria" [value]="estado" (click)="filtrar(estado.porteEstado, 'estadoHistoria')">
                        {{ estado.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- SDASDAWD -->

            <section class="filtros-checkbox filtro-item">
                <span class="filtro-title">Entrega</span>
                <div class="checkbox-container">
                    <mat-checkbox [checked]="true" (click)="filtrar(!filtrosActivos.entrega.propia, 'entrega.propia')">Propia</mat-checkbox>
                    <mat-checkbox [checked]="true" (click)="filtrar(!filtrosActivos.entrega.otras, 'entrega.otras')">Otras</mat-checkbox>
                </div>
            </section>

            <section class="info-filtros filtro-item">
                <!-- <span class="filtro-title">Info</span> -->
                <div *ngIf="!(dataSource.loading$ | async)" class="total-container">
                    <span>Cantidad: {{totalActivo}}</span>
                </div>
            </section>
        </div>
    </div>

</div>

<div class="btn-container">
    <div class="acciones-container">
        <button (click)="generarExcel()" class="accion" mat-raised-button color="secondary">
            <div *ngIf="estadoTablaHistoria !== 1" class="excel-container">
                <i class="fas fa-file-excel"></i>
                <span>Excel</span>
            </div>
            <div *ngIf="estadoTablaHistoria === 1" class="excel-spinner">
                <mat-spinner [diameter]="23"></mat-spinner>
            </div>

        </button>
        <button (click)="cartaPorteService.generarAnalisis(estadoTablaHistoria)(historiaTotal)(dataSource)" class="accion" mat-raised-button color="secondary">
            <i class="fas fa-chart-pie"></i>
            <span>Analisis</span>
        </button>
    </div>
</div>

<div class="mat-elevation-z8">
    <div class="spinner-container" *ngIf="(dataSource.loading$ | async)">
        <mat-spinner></mat-spinner>
    </div>

    <div class="table-container" *ngIf="!(dataSource.loading$ | async)">
    <!-- <div class="table-container"> -->
        <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

            <ng-container matColumnDef="nroCP">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nro.CP</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <div [routerLink]="['/home/detalle-carta', row.PorteNro]" class="nro-carta-detalle">
                        {{row.PorteNro}}
                    </div>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="situacion">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Situacion</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.estadoPosiReal | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="turno">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Turno</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.porteTurno}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="titular">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Titular</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.titular.denominacion)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="intermediario">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Intermediario</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.intermediario.denominacion)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="remitenteComercial">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Rem. Comercial</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.remCom.denominacion)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="corredor">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Corredor</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.corredor.denominacion)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="producto">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.cereal)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="destino">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Destino</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.puertoDestino.ptoRazon)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="analisis">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Analisis</mat-header-cell>
                <mat-cell *matCellDef="let row" [ngStyle]="{'flex': '0 0 82px'}">
                    <div *ngIf="row.analisis && row.analisis.length > 0">
                        <div class="row-analisis" *ngFor="let a of row.analisis">
                            {{ cartaPorteService.parseAnalisis(a) }}
                        </div>
                    </div>
                </mat-cell>
                <!-- <mat-cell *matCellDef="let row">{{cartaPorteService.parseAnalisis(row.analisis) | lowercase}}</mat-cell> -->
            </ng-container>

            <ng-container matColumnDef="obsEstado">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Obs Pto</mat-header-cell>
                <!-- <mat-cell *matCellDef="let row">{{row.obsEstado | lowercase}}</mat-cell> -->
                <mat-cell *matCellDef="let row">{{row.obsEstado}} {{row.porteObservacion}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="procedencia">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Procedencia</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.procedencia.denominacion)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="kgsProcedencia">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Kgs Proced</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.porteKgsProcede}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="kgsNeto">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Kgs Neto</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.porteKgsNeto}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="entregador">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Entregador</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.entregador.denominacion)() | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="entreCp">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Entre CP</mat-header-cell>
                <mat-cell *matCellDef="let row">{{cartaPorteService.acotarString(row.entreCp)('entreCp') | lowercase}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="autPuerto">
                <mat-header-cell [ngStyle]="{'flex': '0 0 34px'}" *matHeaderCellDef mat-sort-header="autPuerto">Aut Puerto</mat-header-cell>
                <mat-cell [ngStyle]="{'flex': '0 0 34px'}" *matCellDef="let row">{{row.autPuerto}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row    [ngClass]="cartaPorteService.getClassByCarta(row)"
                        *matRowDef="let row; columns: displayedColumns;"
                        >
            <!-- [style.background]="cartasSeleccionadas.indexOf(row) != -1 ? 'lightblue' : ''" -->
            </mat-row>
        </mat-table>
<!--
        <mat-paginator #paginator [length]="(dataSource && dataSource.data) ? dataSource.data.length : 0" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator> -->
    </div>
</div>


<!--

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>
 -->
