<div class="historial-acciones">

    <div class="historial-acciones-content">

        <div class="historial-acciones-title">
            <p>Historial Acciones</p>
        </div>

        <div class="filtros-container">
            <div class="busqueda-container">
                <mat-form-field>
                    <input matInput type="text" placeholder="Numero de carta" [(ngModel)]="nroCartaBuscada" (ngModelChange)="onBuscar($event)">
                </mat-form-field>
            </div>
            <div class="fechas-container">
                <mat-form-field class="fecha-element">
                    <input [(ngModel)]="filtroFecha.fechaDesde" (ngModelChange)="onChangeFecha($event)" matInput [matDatepicker]="pickerDesde" placeholder="Fecha desde">
                    <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDesde></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="fecha-element">
                    <input [(ngModel)]="filtroFecha.fechaHasta" (ngModelChange)="onChangeFecha($event)" matInput [matDatepicker]="pickerHasta" placeholder="Fecha hasta">
                    <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
                    <mat-datepicker #pickerHasta></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <table style="width: 100%" class="pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Nro Carta</th>
                    <th>Accion</th>
                    <th>Entregador</th>
                    <th>Usuario</th>
                    <th>Puerto</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Puerto Desvio</th>
                    <th>Turno</th>
                    <th>Especie</th>
                    <th>Comentario</th>

                </tr>
            </thead>

            <tbody *ngIf="historial">
                <tr *ngFor="let accion of historial" >
                    <td>
                        <div [routerLink]="['/home/detalle-carta', accion.nroCarta]" class="nro-carta-detalle">
                            {{ accion.nroCarta }}
                        </div>

                    </td>
                    <td>
                        {{ accion.accion }}
                    </td>
                    <td>
                        {{ accion.cuitEntregador }}
                    </td>
                    <td>
                        {{ accion.usuario }}
                    </td>
                    <td>
                        {{ accion.puerto ? accion.puerto.ptoRazon : '' }}
                    </td>
                    <td class="no-capitalize">
                        {{ utilsService.capitalizeFirstLetter(momento(accion.fecha).calendar()) }}
                    </td>
                    <td>
                        {{ accion.estado }}
                    </td>
                    <td>
                        {{ accion.puertoDesvio ? accion.puertoDesvio.ptoRazon : ''}}
                    </td>
                    <td>
                        {{ accion.turno }}
                    </td>
                    <td>
                        {{ accion.especie ? accion.especie.descripcionmercaderia : ''}}
                    </td>
                    <td>
                        {{ accion.comentario }}
                    </td>
                </tr>
            </tbody>

        </table>

        <div class="spinner-container" *ngIf="!historial">
            <mat-spinner></mat-spinner>
        </div>
    </div>

</div>

