.historial-acciones {
    .historial-acciones-title {
        font-size: 1.6rem;
        color: #ffffff;
    }

    .historial-acciones-content {
        // display: flex;
        // flex-direction: column;

        .filtros-container {
            display: flex;
            justify-content: space-between;
            .busqueda-container {
                padding-left: 2px;
            }
            .fechas-container {
                .fecha-element {
                    padding: 0px 6px;
                }
            }
        }

        .spinner-container {
            display: flex;
            justify-content: center;
            margin: 7% 0;
        }
    }

    .pure-table {
        border: none;

        thead {
            background-color: #212121;
            color: #e4e5e7;

            th {
                border-left: none;
                white-space: nowrap;
            }
        }

        tbody {
            td {
                border-left: none;
                text-transform: capitalize;
                background: #21212157;
            }

            tr:nth-child(2n-1) td {
                background-color: #424242;
            }

            .no-capitalize {
                text-transform: none;
            }

            .nro-carta-detalle {
                cursor: pointer;
            }

            .nro-carta-detalle:hover {
                color: #c2185b;
            }
        }

        // .pure-table-striped tr:nth-child(2n-1) td {
        //     background-color: #424242;
        // }
    }
}
