<div class="historial-noticias">
    <div class="historial-noticias-content">

        <div class="historial-noticias-title">
            <p>Historial Noticias</p>
        </div>

        <table style="width: 100%" class="pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Puerto</th>
                    <th>Fecha y Hora</th>
                </tr>
            </thead>

            <tbody *ngIf="historial">
                <tr *ngFor="let noticia of historial">
                    <td>
                        {{ noticia.titulo }}
                    </td>
                    <td>
                        {{ noticia.descripcion }}
                    </td>
                    <td>
                        {{ noticia.puerto ? noticia.puerto.ptoRazon : '' }}
                    </td>
                    <td class="no-capitalize">
                        {{ utilsService.capitalizeFirstLetter(momento(noticia.fechaHora).calendar()) }}
                    </td>
                </tr>
            </tbody>

        </table>

        <div class="spinner-container" *ngIf="!historial">
            <mat-spinner></mat-spinner>
        </div>
    </div>

</div>

