/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

/*
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/

html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
}
