mat-list {
    .item-seccion{
        .mat-list-item-content {
            padding-left: 6px;
            cursor: pointer;
            .a-element {
                color: #e4e5e7;
                font-size: 16px;
                i {
                    margin-right: 25px;
                    font-size: 13px;
                    width: 13px;
                    height: 13px;
                    min-width: 13px;
                    min-height: 13px;
                    line-height: 13px;
                }
            }
            .a-element:hover {
                //color: #ebbe19;
            }
            .a-element:active {
                // color: #c2185b;
                // color: #ebbe19;
                color: #e2dea5;
            }
            .a-active {
                color: #e2dea5;
            }
        }
    }

    .titulo-seccion {
        color:#909499;
        text-transform: uppercase;
        .mat-list-item-content {
            padding-left: 6px;
        }
    }

    .titulo-otros {
        margin-top: 8%;
    }
}
