<mat-list role="list">
    <mat-list-item class="titulo-seccion" role="listitem">
        <div class="mat-list-item-content">
            <a [ngClass]="getClassMenuItem('servicios')">
                <span>
                    Servicios
                </span>
            </a>
        </div>
    </mat-list-item>

    <mat-list-item (click)="changePage('posicion')" class="item-seccion" role="listitem">
        <div class="mat-list-item-content">
            <a [ngClass]="getClassMenuItem('posicion')">
                <i class="fas fa-truck"></i>
                <span>
                    Posición
                </span>
            </a>
        </div>
    </mat-list-item>
    <mat-list-item (click)="changePage('historia')" class="item-seccion" role="listitem">
        <div class="mat-list-item-content">
            <a [ngClass]="getClassMenuItem('historia')">
                <i class="fas fa-truck-loading"></i>
                <span>
                    Histórica
                </span>
            </a>
        </div>
    </mat-list-item>
    <mat-list-item (click)="changePage('buscar-carta')" class="item-seccion" role="listitem">
        <div class="mat-list-item-content">
            <a [ngClass]="getClassMenuItem('buscar-carta')">
                <i class="fas fa-search"></i>
                <span>
                    Buscar por número
                </span>
            </a>
        </div>
    </mat-list-item>
    <mat-list-item (click)="changePage('buscar-patente')" class="item-seccion" role="listitem">
        <div class="mat-list-item-content">
            <a [ngClass]="getClassMenuItem('buscar-patente')">
                <i class="fas fa-truck-moving"></i>
                <span>
                    Buscar por patente
                </span>
            </a>
        </div>
    </mat-list-item>

    <!-- //////////////////////////////////////////////////////////////////////////////////////// -->

    <mat-list-item class="titulo-seccion titulo-otros" role="listitem">
        <div class="mat-list-item-content">
            <a [ngClass]="getClassMenuItem('otros')">
                <span>
                    Otros
                </span>
            </a>
        </div>
    </mat-list-item>

    <mat-list-item (click)="changePage('historial-acciones')" class="item-seccion" role="listitem">
        <div class="mat-list-item-content">
            <a [ngClass]="getClassMenuItem('historial-acciones')">
                <i class="fas fa-fire"></i>
                <span>
                    Historial de Acciones
                </span>
            </a>
        </div>
    </mat-list-item>

    <mat-list-item (click)="changePage('historial-noticias')" class="item-seccion" role="listitem">
        <div class="mat-list-item-content">
            <a [ngClass]="getClassMenuItem('historial-noticias')">
                <i class="fas fa-newspaper"></i>
                <span>
                    Historial de Noticias
                </span>
            </a>
        </div>
    </mat-list-item>

    <mat-list-item (click)="changePage('camiones-descarga')" class="item-seccion" role="listitem">
        <div class="mat-list-item-content">
            <a [ngClass]="getClassMenuItem('camiones-descarga')">
                <i class="fas fa-book"></i>
                <span>
                    Camiones a la Descarga
                </span>
            </a>
        </div>
    </mat-list-item>
    <mat-list-item (click)="changePage('condiciones-recibo')" class="item-seccion" role="listitem">
        <div class="mat-list-item-content">
            <a [ngClass]="getClassMenuItem('condiciones-recibo')">
                <i class="fas fa-truck-loading"></i>
                <span>
                    Condiciones de recibo
                </span>
            </a>
        </div>
    </mat-list-item>

    <mat-list-item class="titulo-seccion titulo-otros" role="listitem">
        <div class="mat-list-item-content">
            <a [ngClass]="getClassMenuItem('otros')">
                <span>
                    Configuraciones
                </span>
            </a>
        </div>
    </mat-list-item>

    <mat-list-item (click)="toggleTableColor()" class="item-seccion" role="listitem">
        <div class="mat-list-item-content">
            <a [ngClass]="getClassMenuItem('historial-acciones')">
                <i class="fas fa-fill-drip"></i>
                <span>
                    Cambiar color tabla
                </span>
            </a>
        </div>
    </mat-list-item>
</mat-list>
