.default-dialog {
    font-family: Roboto,"Helvetica Neue",sans-serif;

    .default-dialog-header {
        font-size: 1.3rem;
        p {
            margin-top: 2px;
        }
    }

    .default-dialog-body {

    }

    .default-dialog-footer {
        margin-top: 10%;
        .btn-container {
            display: flex;
            justify-content: flex-end;

            button {
                margin: 1%;
                min-width: 106px;
                i {
                    padding: 12% 14% 10% 0%;
                }
                span {
                    padding-top: 1%;
                    // position: relative;
                    // top: 2px;
                    display: inline-block;
                }
            }
        }
    }


}
