<div class="default-dialog">

    <div class="default-dialog-header">
        <p>
            {{titulo}}
        </p>
    </div>

    <div class="default-dialog-body">
        <p>
            {{cuerpo}}
        </p>
    </div>

    <div class="default-dialog-footer">
        <div class="btn-container">
            <button (click)="onNoClick()" mat-raised-button color="secondary">
                <span>Confirmar</span>
            </button>
        </div>
    </div>

</div>
